{% extends 'base.html' %}

{% block content %}
<div id='calendar'></div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: {{ task_events_json|safe }},
            eventTimeFormat: { hour: '2-digit', minute: '2-digit', meridiem: false } // Ensure time format is correct
        });
        calendar.render();
    });
</script>
{% endblock %}
